<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.agaghd.basemodel">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name=".BaseActivity"></activity>

        <meta-data
            android:name="io.github.agaghd.basemodel.utils.MyGlideModule"
            android:value="GlideModule" />
    </application>

</manifest>